
* { 
    box-sizing: border-box; 
}
body { 
    background: linear-gradient(135deg, #1d4ed8, #3b82f6) !important; 
    font-family: 'Segoe UI', Roboto, sans-serif; 
    background: #f8fafc; 
    padding: 20px; 
    text-align: center; 
    margin: 0; 
}
.container { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 90%;
    max-width: 450px;
    background: #ffffff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.next-queue-badge{
            background-color: #eff6ff;
            color: #ef4444;
            border: 1px solid #bfdbfe;
            padding: 8px 12px;
            border-radius: 20px;
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 16px;
            display: inline-block;
            box-shadow: 0 2px 4px rgba(37, 99, 235, 0.08) ;
        }

.next-queue-badge span {
        color: #16a34a; /* Warna hijau untuk nama kelasnya */
        font-weight: 700;
        }

h2 { 
    color: #0f172a; 
    margin-bottom: 20px; 
}

.btn-panggil { 
    background: #2563eb; 
    color: white; 
    padding: 16px;
    font-size: 18px; 
    border: none; 
    border-radius: 10px; 
    width: 100%; 
    font-weight: bold; 
    cursor: pointer; 
}

.btn-panggil:hover { 
    background: #1d4ed8; 
}

.btn-selesai { 
    background: #16a34a; 
    color: white; 
    padding: 14px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-weight: bold;
    width: 100%; 
    font-size: 16px; 
    margin-top: 15px; 
}
.btn-selesai:hover { 
    background: #15803d; 
}

.card-panggilan { 
    margin-top: 25px; 
    padding: 20px; 
    background: #eff6ff;
    border-radius: 12px; 
    border: 2px dashed #93c5fd; 
}
.kelas-text { 
    font-size: 36px; 
    color: #1e40af; 
    margin: 10px 0; 
    font-weight: bold; 
}
